APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:VQMkQIhcKL1mDg8COTulPVhPGXZqt4CxhXCf3q1EUm0=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

OAUTH_CONSUMER_KEY=b4f686741ceb7d79e2923b5a16419a38e036c11899199f5b2310f478ce85cd13
OAUTH_CONSUMER_SECRET=716e3cfe68871bf87f7ed8161cba9f0e07ba5a0b71a92526498cb864886d2ac5
OAUTH_TOKEN=d286146580b95c2faffd0b91d6c596590c60449ce321c20d55de5670c228ccc6
OAUTH_TOKEN_SECRET=11f9868179636669ea8b2bb19c98b792de61fa536469818c30d3b6b451aab7bf
OAUTH_REALM=8548478_SB1
BASE_URI_AIRWAVE=https://8548478-sb1.app.netsuite.com

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
